## Listas

In [2]:
my_empty_list = []  # Lista vacia
my_list = ["Apple", "Orange", "Donkey"]  # La única forma de declarar una lista. Es mutable
my_tuple = ("Apple", "Orange", "Donkey")  # Esto no es una lista, es una versión más limitada llamada "Tupla". No es mutable
my_set = {"Apple", "Orange", "Donkey"}  # Esto no es una lista, es una versión más limitada llamada "set" (conjunto).

In [45]:
my_set = {"Apple", "Orange", "Donkey", "Donkey"} 
print(my_set)

{'Orange', 'Apple', 'Donkey'}

In [7]:
lista = [1, 2, 2, 3, 4, 4, 5]
conjunto = set(lista)
lista_sin_duplicados = list(conjunto)


print('conjunto: ', conjunto)
print('lista sin duplicados: ', lista_sin_duplicados)

conjunto:  {1, 2, 3, 4, 5}
lista sin duplicados:  [1, 2, 3, 4, 5]

Acceder a un elemento de la lista

In [19]:
my_list = ["Apple", "Orange", "Donkey"]

print(f'Primer elemento de la lista: {my_list[0]}')  # Esto imprimirá el 1er elemento en la consola

aux = my_list[2]
print('Tercer elemento de la lista:', aux)  # Esto imprimirá el 3er elemento en la consola

print('Último elemento de la lista:', my_list[len(my_list) - 1])  # Esto imprimirá el último elemento en la consola

print(f'Último elemento de la lista: {my_list[-1]}')  # Tambien imprimirá el último elemento

Primer elemento de la lista: Apple
Tercer elemento de la lista: Donkey
Último elemento de la lista: Donkey
Último elemento de la lista: Donkey

Agregar/actualizar elementos a una lista

In [24]:
my_list[2] = 'Banana'
# Esto actualizará el valor 'Banana' en el 3er elemento de la lista
my_list

['Apple', 'Orange', 'Banana']

In [26]:
my_list.append('Pear')
# Esto agregará el valor 'Pear' secuencialmente en la lista
my_list

['Apple', 'Orange', 'Banana', 'Pear']

In [43]:
lista_0 = []
for i in range(5):
    lista_0.append(i)
print(lista_0)

[0, 1, 2, 3, 4]

In [44]:
lista_0.insert(0, 'a')  # Inserta 'a' en la posición 0
print(lista_0)

['a', 0, 1, 2, 3, 4]

In [46]:
lista_0.extend([5, 6, 7])
print(lista_0)

['a', 0, 1, 2, 3, 4, 5, 6, 7]

Eliminar elementos

In [47]:
names = ['Pedro', 'Chris', 'Juan', 'Maria']
names.pop()
print(names)

['Pedro', 'Chris', 'Juan']

In [48]:
names.remove('Chris')
print(names)

['Pedro', 'Juan']

In [49]:
names = ['Pedro', 'Chris', 'Juan', 'Maria', 'Pepe', 'Mario', 'Bob']
del names[2:5]
# elimina del 2 al 4
print(names)

['Pedro', 'Chris', 'Mario', 'Bob']

Iterando sobre una lista (bucles)

In [50]:
numeros_ = [3423, 5, 4, 47889, 654, 8, 867543, 23, 48, 56432, 55, 23, 25, 12]
for number in numeros_:
    print(number)

3423
5
4
47889
654
8
867543
23
48
56432
55
23
25
12

In [51]:
my_list_2 = ['Pedro', 'Chris', 'Mario', 'Bob']

for i in range(0, len(my_list_2)):
    print("La posición es " + str(i) + " para el elemento " + my_list_2[i])

La posición es 0 para el elemento Pedro
La posición es 1 para el elemento Chris
La posición es 2 para el elemento Mario
La posición es 3 para el elemento Bob

In [52]:
my_list = ['Pedro', 'Chris', 'Mario', 'Bob', "Greg", "Kyle"]

for i in range(1, 6, 2):  # range(valor inicial, valor final (no inclusivo), valor incremental)
    print("La posición es " + str(i) + " para el elemento " + my_list[i])

La posición es 1 para el elemento Chris
La posición es 3 para el elemento Bob
La posición es 5 para el elemento Kyle