## Funciones

In [28]:
import pandas as pd
import os

Funciones

In [8]:
def multiplicar(a, b):
    return a * b

Hola

In [18]:
print(multiplicar(2, 6))

12

In [5]:
mensaje = "Hola desde el scope global"

In [20]:
def saludar():
    mensaje_local = "Hola desde el scope local"
    print(mensaje_local)
    print(mensaje)  # Podemos acceder a la variable global

saludar()

Hola desde el scope local
Hola desde el scope global

Funciones Lambda

In [9]:
def multiplicar_por_dos(x):
    return x * 2

resultado = multiplicar_por_dos(5)
print(resultado)

10

In [10]:
multiplicar_por_dos = lambda x: x * 2

resultado_2 = multiplicar_por_dos(5)
print(resultado_2)

10

Funciones anidadas

In [14]:
def suma(a, b):
   return a + b

def multiplicar(a, b):
   return a * b

resultado = multiplicar(suma(3, 5), suma(1, 1))


# Las ejecuciones van de adentro hacia afuera
# Primero, se calculará la suma de 3 + 5 y 1 + 1 
# A continuación, se multiplicarán sus respectivos resultados 
primero = suma(3, 5)
segundo = suma(1, 1)
print(multiplicar(primero, segundo))

16

Recursivas

In [15]:
def factorial(n):
    # Caso base: si n es 0, el factorial de 0 es 1
    if n == 0:
        return 1
    else:
        # Caso recursivo: n * factorial de (n-1)
        return n * factorial(n - 1)

# Ejemplo de uso
numero = 5
resultado = factorial(numero)
print(f"El factorial de {numero} es {resultado}")

El factorial de 5 es 120

In [21]:
def suma(a, b):
    return a + b 

print(suma(99, 1))

100

In [26]:
def hola():
    print('hello')
    return 

print(hola())

hello
None

In [11]:
import pyreadr
import pandas as pd
# Leer el archivo .rda
result = pyreadr.read_r('../data/raw/Madrid_Sale.rda')

# Verificar los nombres de los objetos en el archivo .rda
print(result.keys())

# Iterar sobre los objetos y convertir cada uno a un DataFrame de pandas
for key in result.keys():
    df = result[key]
    print(f"DataFrame con clave {key} cargado")
    # Puedes hacer algo con cada DataFrame, por ejemplo, guardarlos o procesarlos
    # Aquí solo mostramos cómo convertirlo a un DataFrame de pandas
    df = pd.DataFrame(df)
    print(df.head())  # Mostrar las primeras filas del DataFrame

LibrdataError: Invalid file, or file has unsupported features

In [7]:
df

    District  N_CADASTRE        N       CITY
0        1.0     89467.0  11630.0     Madrid
1        2.0     77318.0   4362.0     Madrid
2        3.0     57006.0   3892.0     Madrid
3        4.0     80666.0   8096.0     Madrid
4        5.0     69016.0   5111.0     Madrid
5        6.0     82875.0   5883.0     Madrid
6        7.0     79250.0   6301.0     Madrid
7        8.0    105578.0   3533.0     Madrid
8        9.0     57224.0   3512.0     Madrid
9       10.0    110214.0   4715.0     Madrid
10      11.0    112266.0   6682.0     Madrid
11      12.0     56617.0   2985.0     Madrid
12      13.0    101259.0   5756.0     Madrid
13      14.0     41940.0   1270.0     Madrid
14      15.0    103425.0   5719.0     Madrid
15      16.0     85666.0   3494.0     Madrid
16      17.0     62140.0   3397.0     Madrid
17      18.0     49951.0   2498.0     Madrid
18      19.0     34594.0   1201.0     Madrid
19      20.0     66860.0   3668.0     Madrid
20      21.0     22065.0   1097.0     Madrid
21       1.0     55995.0   8372.0  Barcelona
22       2.0    142134.0  13936.0  Barcelona
23       3.0     86008.0   7241.0  Barcelona
24       4.0     39300.0   2359.0  Barcelona
25       5.0     70689.0   5058.0  Barcelona
26       6.0     66565.0   4398.0  Barcelona
27       7.0     79467.0   4467.0  Barcelona
28       8.0     73877.0   3523.0  Barcelona
29       9.0     66745.0   3600.0  Barcelona
30      10.0    108960.0   8375.0  Barcelona
31       1.0     19806.0   2620.0   Valencia
32       2.0     25269.0   2571.0   Valencia
33       3.0     27755.0   2766.0   Valencia
34       4.0     18810.0   1413.0   Valencia
35       5.0     24386.0   2145.0   Valencia
36       6.0     15720.0   1184.0   Valencia
37       7.0     23956.0   2429.0   Valencia
38       8.0     27318.0   2185.0   Valencia
39       9.0     25043.0   2356.0   Valencia
40      10.0     37005.0   3010.0   Valencia
41      11.0     30283.0   2215.0   Valencia
42      12.0     32014.0   1949.0   Valencia
43      13.0     20455.0    829.0   Valencia
44      14.0     15366.0    728.0   Valencia
45      15.0     24258.0   2733.0   Valencia
46      16.0     22087.0   2420.0   Valencia
47      17.0      3446.0     18.0   Valencia
48      18.0      7206.0     20.0   Valencia
49      19.0     15821.0      2.0   Valencia